/* line 1, ../sass/_typography.scss */
body {
  font-family: sans-serif;
}

/* line 1, ../sass/_layout.scss */
.page {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 38, ../../../../../../dev/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}

/* line 5, ../sass/_layout.scss */
header {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  padding: 1em;
  background-color: black;
  color: white;
  border: 1px solid;
}
/* line 11, ../sass/_layout.scss */
header h1 {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  text-shadow: 1px 1px 1px black, 3px 3px 5px #777777;
}
/* line 15, ../sass/_layout.scss */
header nav {
  width: 66.10169%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  text-align: right;
}

/* line 21, ../sass/_layout.scss */
.main {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 23, ../sass/_layout.scss */
.main section {
  width: 83.05085%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 26, ../sass/_layout.scss */
.main aside {
  width: 15.25424%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}

/* line 2, ../sass/_header.scss */
nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 49, ../../../../../../dev/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-block-list.scss */
nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
}
/* line 4, ../sass/_header.scss */
nav ul li {
  padding: .2em 1em;
  border: 1px solid #cccccc;
  -webkit-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -ms-border-radius: 0.8em;
  -o-border-radius: 0.8em;
  border-radius: 0.8em;
  color: white;
  background-color: black;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #cccccc), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(left top, #cccccc, #000000);
  background-image: -moz-linear-gradient(left top, #cccccc, #000000);
  background-image: -o-linear-gradient(left top, #cccccc, #000000);
  background-image: linear-gradient(left top, #cccccc, #000000);
}
/* line 11, ../sass/_header.scss */
nav ul li:hover {
  background-color: #cccccc;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #000000), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(left top, #000000, #cccccc);
  background-image: -moz-linear-gradient(left top, #000000, #cccccc);
  background-image: -o-linear-gradient(left top, #000000, #cccccc);
  background-image: linear-gradient(left top, #000000, #cccccc);
  cursor: pointer;
}

/* line 50, icons/*.png */
.icons-sprite, .icons-dude1, .icons-dude2 {
  background: url('/images/icons-sdda72d91ad.png') no-repeat;
}

/* line 60, ../../../../../../dev/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-dude1 {
  background-position: 0 -50px;
}

/* line 60, ../../../../../../dev/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-dude2 {
  background-position: 0 0;
}

/* line 4, ../sass/_sprites.scss */
.icon {
  width: 50px;
  height: 50px;
}
